.content {
    margin-top: 60px;
    width: 100%;
    display: flex;
}
aside {
    height: calc(100% - 60px);
    align-items: stretch;
    left: 0;
    position: fixed;
    width: 300px;
    background-color: #f1f1f1;
    display: flex;
    flex-flow: column;
    justify-content: space-between;
}

.users-container {
    display: flex;
    flex-flow: column;
    overflow-y: scroll;
}
.user-card {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
}

.user-card:hover {
    background-color: #ddd;
}

.user-info {
    display: flex;
    align-items: center;
    width: 200px;
}
.user-name {
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    cursor: pointer;
}
.user-name:hover {
    color: blue;
}

.user-img {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-color: white;
    margin-right: 10px;
    border: 1px solid #ddd;
    cursor: pointer;
}

.pulse {
    margin-right: 10px;
    display: inline-block;
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background: #cc2c2c;
    cursor: pointer;
    box-shadow: 0 0 0 rgba(236, 34, 7, 0.856);
    animation: pulse-animation 2s infinite;
}
.pulse:hover {
    animation: none;
}

@keyframes pulse-animation {
    0% {
        box-shadow: 0 0 0 0px rgba(247, 7, 7, 0.815);
    }
    100% {
        box-shadow: 0 0 0 5px rgba(0, 0, 0, 0);
    }
}

.info-container {
    background-color: #ddd;
    margin: 20px;
    height: 200px;
    text-align: center;
}

.info-text {
    font-size: 1.2rem;
    padding: 20px;
}

.social-container {
    display: flex;
    padding: 20px;
    justify-content: space-evenly;
}

.social-btn {
    font-size: 30px;
    margin: 5px;
    cursor: pointer;
}

.social-btn:hover {
    color: blue;
}

@media screen and (max-width: 1200px) {
    .user-name,
    .extra-info,
    .info-container {
        display: none;
    }
    aside {
        width: 80px;
    }
}
