body {
    font-family: Roboto, sans-serif;
    height: 100%;
}

::selection {
    color: white;
    background-color: orange;
}

header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 5px 20px;
    height: 50px;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
    z-index: 9999;
    background-color: white;
}

.logo {
    color: orange;
    font-size: 36px;
    display: flex;
    align-items: center;
    cursor: pointer;
    font-weight: 600;
}

.logo::before {
    font-family: "Font Awesome 5 Free";
    display: inline-block;
    padding-right: 15px;
    vertical-align: middle;
    font-weight: 900;
    font-size: 30px;
    content: "\f6d3";
}

.search-container {
    display: flex;
    align-items: center;
}

.search-input {
    width: calc(100vw - 600px);
    min-width: 200px;
    max-width: 500px;
    border-radius: 5px;
    border: 1px solid #ddd;
    padding: 5px;
    padding-right: 30px;
}

.search-input:focus {
    outline: none;
    border: 1px solid blue;
}

.search-btn {
    margin: 1px -30px 0px;
    padding: 5px;
    background-color: #ddd;
    border-radius: 3px;
    border: 1px solid #ddd;
}
.search-btn:hover {
    background-color: #aaa;
    border: 1px solid #aaa;
}

.mic-btn {
    margin-left: 30px;
}

.menu-btn {
    background-color: orange;
    padding: 16px;
    font-size: 16px;
    border: none;
    cursor: pointer;
    border-radius: 50%;
}

.menu {
    position: relative;
    display: inline-block;
}

.menu-content {
    display: none;
    position: absolute;
    right: 0;
    background-color: #f1f1f1;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
}

.menu-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.menu-content a:hover {
    background-color: #ddd;
}

.menu:hover .menu-content {
    display: block;
}

.menu:hover .menu-btn {
    background-color: #ddd;
}

.menu-item::before {
    font-family: "Font Awesome 5 Free";
    display: inline-block;
    padding-right: 5px;
    vertical-align: middle;
    font-weight: 900;
}

#profile-btn::before {
    content: "\f1b0";
}

#settings-btn::before {
    content: "\f013";
}

#logout-btn {
    color: red;
}

#logout-btn::before {
    content: "\f2f5";
}

.icon-btn {
    padding: 10px;
    color: #aaa;
    cursor: pointer;
}

.icon-btn:hover {
    color: black;
}
