main {
    position: relative;
    margin-left: 300px;
    width: calc(100vw - 300px);
    min-height: calc(100vh - 100px);
    height: calc(100vh - 100px);
}

.tag-panel {
    margin: 20px;
    display: grid;
    grid-gap: 10px;
    grid-auto-flow: column;
    overflow-x: auto;
    scrollbar-width: none;
}

.tag-panel::-webkit-scrollbar {
    width: 0px;
}

.tag {
    display: inline-block;
    border-radius: 20px;
    padding: 5px 20px;
    background-color: #f1f1f1;
    border: 1px solid #ddd;
    margin-right: 10px;
    cursor: pointer;
}

.tag:first-of-type {
    background-color: orange;
    color: white;
}

.tag:last-of-type {
    margin-right: 0;
}

.tag:hover {
    background-color: #ddd;
}

.video-container {
    margin: 20px;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    grid-gap: 10px;
    grid-auto-rows: minmax(200px, auto);
}

.video-item {
    min-width: 300px;
}

.video-item .video-img {
    width: 100%;
}

.image-wrapper {
    position: relative;
}

/* .image-wrapper:hover {
    opacity:50%;
    transition:opacity 2s
  } */

.image-wrapper:hover .video-img {
    filter: brightness(50%);
    transition: filter 1s;
}

.image-wrapper:hover .fadein-img {
    opacity: 100%;
    transition: opacity 1s;
}

.fadein-img {
    position: absolute;
    top: calc(50% - 15px);
    left: calc(50% - 15px);
    font-size: 30px;
    opacity: 0%;
    cursor: pointer;
    z-index: 99;
    color: white;
}

.fadein-img:hover {
    color: orange;
}

.video-info {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
}
.image-title-wrapper {
    display: flex;
}

.live-label {
    position: absolute;
    top: 10px;
    left: 10px;
    color: white;
    padding: 5px 20px;
    background-color: red;
    border-radius: 10px;
    text-transform: uppercase;
    font-size: 12px;
    z-index: 1;
}

.info-label {
    font-size: 12px;
    position: absolute;
    bottom: 10px;
    right: 10px;
    color: white;
    padding: 5px 20px;
    background-color: rgba(0, 0, 0, 0.5);
    border-radius: 10px;
    z-index: 1;
}

.info-title {
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

.info-subtitle {
    color: #aaa;
    font-size: 12px;
    cursor: pointer;
}

.info-subtitle:hover {
    color: blue;
}

.video-name {
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    cursor: pointer;
}
.video-name:hover {
    color: blue;
}

.more-btn {
    cursor: pointer;
}

footer {
    width: 100%;
    font-size: 20px;
    text-align: center;
    height: 40px;
}

/* CAROUSEL */

input[type="radio"] {
    display: none;
}

.card {
    position: absolute;
    width: 60%;
    height: 100%;
    left: 0;
    right: 0;
    margin: auto;
    transition: transform 0.4s ease;
    cursor: pointer;
}

.carousel-container {
    width: 100%;
    height: 400px;
    transform-style: preserve-3d;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    margin: 40px 20px;
}

.cards {
    position: relative;
    width: 100%;
    height: 100%;
    margin-bottom: 20px;
}

.cards img {
    width: 100%;
    height: 100%;
    border-radius: 10px;
    object-fit: cover;
}

#item-1:checked ~ .cards #dog-3,
#item-2:checked ~ .cards #dog-1,
#item-3:checked ~ .cards #dog-2 {
    transform: translatex(-40%) scale(0.8);
    opacity: 0.4;
    z-index: 0;
}

#item-1:checked ~ .cards #dog-2,
#item-2:checked ~ .cards #dog-3,
#item-3:checked ~ .cards #dog-1 {
    transform: translatex(40%) scale(0.8);
    opacity: 0.4;
    z-index: 0;
}

#item-1:checked ~ .cards #dog-1,
#item-2:checked ~ .cards #dog-2,
#item-3:checked ~ .cards #dog-3 {
    transform: translatex(0) scale(1);
    opacity: 1;
    z-index: 1;
}

#item-2:checked ~ .player #test {
    transform: translateY(0);
}

#item-2:checked ~ .player #test {
    transform: translateY(-40px);
}

#item-3:checked ~ .player #test {
    transform: translateY(-80px);
}

@media screen and (max-width: 1200px) {
    main{
        margin-left: 80px;
        width: calc(100vw - 80px);
    }
}